@model List<DataAccess.Entities.Item>

<div class="card text-center">
    <div class="card-header">
        My Cart
    </div>
    <div class="card-body">
        <h5 class="card-title">Cart Items List</h5>

        <ul>
            @foreach (var item in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center my-2">
                    @item.Name
                    <span class="badge bg-danger rounded-pill margin-left-1 margin-right-auto">@item.Price$</span>
                    <a asp-controller="Cart" asp-action="Remove" asp-route-itemId="@item.Id" class="btn btn-primary">Remove from Cart</a>
                </li>
            }
        </ul>
        <div>
            <a asp-controller="Orders" asp-action="Create" class="btn btn-success mt-3">Confirm</a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary mt-2">Continue Shopping</a>
        </div>
    </div>
    <div class="card-footer text-muted">
        Total: <span class="badge bg-pimary rounded-pill">@Model.Sum(i => i.Price)$</span>
    </div>
</div>